* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Old Standard TT", serif;
}

.calculator {
  width: 450px;
  height: 600px;
  margin: auto;
  padding: 1rem;
  background-color: #f9d7d1;
  border-radius: 20px;
  box-shadow: 15px 4px 5px #ead7d5;
  border: 0.2px solid #f1d1d1;
}

.display {
  width: 420px;
  font-size: 2.5rem;
  text-align: center;
  border: 2px solid rgb(85, 75, 75);
  background-color: #898274;
  border-radius: 15px;
  padding-top: 1rem;
  text-align: end;
}

.buttons {
  padding: 0.75rem;
}

.buttons > * {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  margin: 1rem;
}

button {
  font-size: 2rem;
  padding: 0.2rem;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #f8edeb;
  box-shadow: 4px 4px #f4b7ad;
  text-align: center;
  cursor: pointer;
}

button:hover {
  box-shadow: 2px 2px #f4b7ad;
}

.clear,
.equals {
  flex-grow: 2;
  border-radius: 15px;
}

.clear {
  background-color: #f4b7ad;
  box-shadow: 4px 4px #e3a096;
}
